<%= form_tag(:action => "merge", :id => @article.id) do %>
<div class = ''>
  <h4><%= _("Merge Articles") %></h4>
  Article ID
  <%= text_field_tag 'merge_with' %>
  <br>
  <%= submit_tag 'Merge' %>
</div>
<% end %>
